.Single_post_img_holder {
  text-align: center;
  margin-bottom: 25px;
}
.single_post_para {
  padding-top: 30px;
}
.single_post_para a {
  color: #ffb300 !important;
}
/* .Single_post_img_holder img {
  width: 70%;
  margin: auto;
} */
.single_post_para img {
  margin-bottom: 20px;
  margin-top: 10px;
}
.single_post_para > div {
  text-align: center;
}
